#container .content-page .articles-wrapper .article{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: var(--color-primary-light);
    gap: 1rem;
}

#container .content-page .articles-wrapper .article button{
    border-radius: .5rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary-dark);
    color: var(--color-text-on-dark);
    font-size: .75rem;
    padding: 1rem;
    margin: .25rem 0;
    text-transform: uppercase;
    transition: background-color .5s;
}

#container .content-page .articles-wrapper .article button:hover{
    background: var(--color-secondary-dark);
}

#container .content-page .articles-wrapper .article strong{
    margin-left: 1rem;
    color: var(--color-text-on-primay);
}

#container .content-page .article .article-body{
    position: relative;
    width: 100%;
    padding: 1rem;
}

#container .content-page .article .article-body img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    transition: filter .5s, transform .75s;
}

#container .content-page .article .article-body img:hover{
    filter: grayscale(.8);
    transform: scale(1.1);
}

#container .content-page .article .article-body p{
    font-size: 1rem;
    text-align: justify;
    margin-bottom: .75rem;
    color: var(--color-text-on-primay);
}

#container .content-page .article .article-body h3{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: .75rem;
    color: var(--color-title-on-primary);
}

#container .content-page .article .article-footer{
    width: 100%;
    padding: .5rem 1rem;
    background: var(--color-primary);
    color: var(--color-text-on-primay);
    border-top: solid 2px var(--color-primary-darker);
}

#container .content-page .article .article-footer .article-info{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
}

#container .content-page .article .article-footer .article-info .info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: .25rem;
    background: var(--color-primary-dark);
    color: var(--color-text-on-dark);
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 400;
    box-shadow: var(--shadow-card);
}

#container .content-page .article .article-footer .article-info .info.geral{
    background: var(--color-secondary);
}

#container .content-page .article .article-footer .article-info .info.local{
    background: var(--color-secondary-dark);
}