#container .content-page .hidden{
    display: none;
}

#container .content-page .feedback-message{
    max-width: 50rem;
    border-radius: .8rem;
    margin: .8rem auto;
    padding: 1.2rem;
    background: var(--color-error);
    color: var(--color-text-on-error)
}

#container .content-page .timer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    padding: 1.2rem;
    background: var(--color-primary);
}

#container .content-page .timer.gone{
    color: var(--color-error);
    font-weight: 700;
    font-size: 1.2rem;
}

#container .content-page .timer time{
    font-weight: 700;
}

#container .content-page form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
}

#container .content-page form .input-block,
#container .content-page .commands .select-block{
    position: relative;
    width: 100%;
    min-height: 4rem;
    border: 1px solid var(--color-primary);
    background: var(--color-primary-light);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container .content-page form .input-block label,
#container .content-page form .password-block label,
#container .content-page .commands .select-block label{
    position: absolute;
    top: -1rem;
    left: 2rem;
    background: var(--color-primary-light);
    padding: 0 .5rem;
    color: var(--color-text-on-primay);
    text-transform: uppercase;
    font-size: .75rem;
    padding: .5rem;
}

#container .content-page form .input-block input,
#container .content-page form .password-block input,
#container .content-page form .input-block select,
#container .content-page .commands .select-block select{
    width: 100%;
    border: 1px solid transparent;
    background: transparent;
    padding: .5rem;
    outline-color: var(--color-primary-dark);
    font-size: 1.2rem;
}

#container .content-page .commands .select-block{
    max-width: 30%;
}

#container .content-page form .password-block{
    position: relative;
    width: 100%;
    min-height: 4rem;
    border: 1px solid var(--color-primary);
    background: var(--color-primary-light);
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: 70% 25%;
    grid-template-areas: 
        "label label"
        "input button"
        "feedback feedback";
}

#container .content-page form .password-block label{
    grid-area: label;
    top: -2.4rem;
}

#container .content-page form .password-block input{
    grid-area: input;
}

#container .content-page form .password-block ul{
    grid-area: feedback;
    position: absolute;
    background: var(--color-background);
    font-size: .8rem;
    z-index: 10;
}

#container .content-page form .password-block button{
    grid-area: button;
    background: var(--color-primary);
    color: var(--color-text-on-primay);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    border: none;
}

#container .content-page form .password-block input.unvalid{
    border-color: var(--color-error);
    outline-color: var(--color-error);
}

#container .content-page form .password-block ul.hidden{
    display: none;
}

#container .content-page form .password-block ul li{
    display: flex;
    align-items: center;
}

#container .content-page form .password-block ul .valid{
    color: var(--color-text-on-primay);
}

#container .content-page form .password-block ul .valid::before{
    content: url('../../images/icons/check_green.svg');
    margin-right: .8rem;
}

#container .content-page form .password-block ul .unvalid{
    color: var(--color-text-on-background-light);
    text-decoration: line-through;
}

#container .content-page form .password-block ul .unvalid::before{
    content: url('../../images/icons/x_red.svg');
    margin-right: .8rem;
}

#container .content-page form .form-buttons-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#container .content-page form .form-buttons-wrapper button{
    width: 45%;
    border: none;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;    
    font-size: 1rem;
    text-transform: uppercase;
    transition: transform .3s;
}

#container .content-page form .form-buttons-wrapper .submit{
    background-color: var(--color-secondary);
    color: var(--color-text-on-dark);
}

#container .content-page form button:hover{
    transform: scale(1.1) translateX(1.5rem);
}

#container .content-page form .buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#container .content-page form .textarea-block{
    position: relative;
    width: 100%;
    min-height: 4rem;
    border: 1px solid var(--color-primary);
    background: var(--color-primary-light);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#container .content-page form .textarea-block textarea{
    width: 100%;
    height: 15rem;
}

#container .content-page form .textarea-block .edit-output{
    width: 100%;
    height: 15rem;
    border: 1px solid var(--color-primary-dark);
    border-radius: 15px;
}

#container .content-page form fieldset{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.2rem;
    border: 1px solid var(--color-primary);
    border-radius: .8rem;
    color: var(--color-text-on-primay);
}
#container .content-page form fieldset .check-box input{
    display: none;
}

#container .content-page form .hide{
    display: none;
}