#container .content-page{
    width: 100%;
    z-index: 5;
}

#container .content-page h2{
    background: var(--color-primary-light);
    color: var(--color-title-on-primary);
    font-weight: normal;
    font-size: 1.8rem;
	padding: 10px 15px;
}

#container .content-page .description,
#container .content-page .schedule-info{
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 1rem;
}

#container .content-page .schedule-info time{
    font-weight: 700;
}

#container .content-page .commands{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2rem;
    gap: .5rem;
}

#container .content-page .commands .button{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;   
    padding: 1rem; 
    font-size: 1rem;
    text-transform: uppercase;
    background: var(--color-primary-dark);
    transition: background-color .3s;    
}

#container .content-page .commands .delete{
    background-color: var(--color-secondary);
    color: var(--color-text-on-dark);
}

#container .content-page .commands .button:hover{
    background: var(--color-secondary-dark);
}

#container .content-page .commands .select-block{
    min-width: 12rem;
}

@media screen and (min-width: 625px){
    #container .content-page{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
}