#container header .inner .main-nav.close{
    transform: translateX(-1000px);
}

#container header .inner .main-nav{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--color-primary-smooth);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container header .inner .main-nav ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--color-text-on-primay);
}

#container header .inner .main-nav ul li{
    width: 100%;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .5s;
}

#container header .inner .main-nav ul li .route{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-primary-darker);
    text-shadow: var(--color-primary-dark) .4rem .4rem;
}

#container header .inner .main-nav ul li:hover,
#container header .inner .main-nav ul .active{
    border-bottom: 2px solid var(--color-text-on-primay);
}

#container header .inner .main-nav .btn-close-nav{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    box-shadow: var(--color-primary-dark) .4rem .4rem;
    background: var(--color-primary-light);
    border: none;
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s;
}

#container header .inner .main-nav .btn-close-nav:hover{
    transform: scale(.8);
}

#container header .inner .commands .button-open-nav{
    height: 100%;
    border: none;
    background-color: transparent;
    color: var(--color-text-on-primay-light);
    cursor: pointer;
    transition: color .3s;
}

#container header .inner .commands .auth-nav{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    transition: .5s;
}

#container header .inner .commands .button-open-nav:hover,
#container header .inner .commands .auth-nav .login:hover{
    color: var(--color-primary-darker);
    transform: scale(1.5);
}

#container header .inner .commands .auth-nav .login{
    margin-right: 1rem;
    font-weight: 700;
    height: 100%;
    color: var(--color-text-on-primay-light);
    border: none;
    background: transparent;
    transition: color .5s;
}

#container header .inner .commands .auth-nav .auth-title{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-dark);
    border: 1px solid var(--color-primary-darker);
    font-size: 1.5rem;
    color: var(--color-title-on-primay);
    text-transform: uppercase;
}

#container header .inner .commands .auth-nav .auth-list{
    display: none;
    background-color: inherit;
}

#container header .inner .commands .auth-nav:hover .auth-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    top: 3rem;
    gap: 1rem;
    background-color: var(--color-primary-dark);
    font-size: 1rem;
    color: var(--color-title-on-primay);
}

#container header .inner .commands .auth-nav:hover .auth-list .route{
    padding: 1rem;
    font-weight: 500;
    transition: color .5s;
    background: transparent;
    border: none;
}

#container header .inner .commands .auth-nav:hover .auth-list .route:hover{
    color: var(--color-primary-light);
    cursor: pointer;
}

@media screen and (min-width: 700px){
    
    #container header .inner .main-nav.close{
        position: relative;
        height: auto;
        transform: translateX(0);
        background: transparent;
        display: flex;
        align-items: center;
        padding: 0;
        margin-left: 8rem;
    }

    #container header .inner .commands .button-open-nav{
        display: none;
    }

    #container header .inner .main-nav ul{
        position: relative;
        height: 100%;
        flex-direction: row;
        align-items: center;
    }

    #container header .inner .main-nav ul li{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #container header .inner .main-nav ul li .route{
        text-shadow: transparent 0 0;
    }
}