#container .content-page .card-wrapper,
#container .content-page .articles-wrapper{
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: space-between;
}

#container .content-page .card-wrapper .card{
    background-color: var(--color-surface-light);
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1.5fr .3fr;
    box-shadow: var(--shadow-card);
}

#container .content-page .card-wrapper .card .card-header{
    padding: .5rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border-bottom: 1px solid var(--color-primary-dark);
}

#container .content-page .card-wrapper .sdo .card-header{
    background: var(--color-primary-light);
}
#container .content-page .card-wrapper .sta .card-header{
    background: var(--color-primary);
}

#container .content-page .card-wrapper .card .card-header .card-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--color-seconday);
    padding-top: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

#container .content-page .card-wrapper .card .card-main{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1rem;
}

#container .content-page .card-wrapper .card .card-header .element-header-nav,
#container .content-page .articles-wrapper .article .element-header-nav,
#container .content-page .card-wrapper .card .documents,
#container .content-page .card-wrapper .card .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: .5rem; */
}

#container .content-page .card-wrapper .card .links{
    justify-content: flex-end;
    gap: .5rem;
}

#container .content-page .card-wrapper .card .wrapper{
    position: relative;
    min-width: 4rem;
    min-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: .5rem;
    margin-bottom: .8rem;
    border: 1px solid var(--color-primary-darker);
}

#container .content-page .card-wrapper .card .wrapper small{
    position: absolute;
    top: -.5rem;
    font-size: .8rem;
    padding: 0 .5rem;
    background: var(--color-surface-light);
}

#container .content-page .card-wrapper .card .wrapper div{
    font-size: 1rem;
    line-height: 1.2rem;
}

#container .content-page .page-header .create,
#container .content-page .card-wrapper .card .card-header .element-header-nav .command,
#container .content-page .card-wrapper .card .links .button-link,
#container .content-page .articles-wrapper .article .element-header-nav .command{
    min-height: 3rem;
    max-width: 30%;
    padding: 0 1.5rem;
    border-radius: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary-dark);
    color: var(--color-text-on-dark);
    font-size: .75rem;
    text-transform: uppercase;
    transition: background-color .5s;
}

#container .content-page .page-header .create:hover,
#container .content-page .card-wrapper .card .card-header .element-header-nav .command:hover,
#container .content-page .card-wrapper .card .links .button-link:hover,
#container .content-page .articles-wrapper .article .element-header-nav .command:hover{
    background: var(--color-secondary-dark);
}

#container .content-page .card-wrapper .card .card-footer{
    background-color: var(--color-primary-dark);
    color: var(--color-text-on-dark);
    padding: .5rem;
    margin-top: 1rem;
}

#container .content-page .card-wrapper .card .card-footer p{
    font-size: .8rem;
    font-weight: 300;
}

#container .content-page .card-wrapper .card .card-footer p strong,
#container .content-page .card-wrapper .card .card-footer p time{
    font-weight: 600;
}

/* ########## ARTIGOS ########## */

#container .content-page .articles-wrapper .article .article-summary{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary-light);
}

#container .content-page .articles-wrapper .article .article-summary::before{
    content: url('../../images/icons/chevron-right.svg');
    position: absolute;
}

#container .content-page .articles-wrapper .article[open] .article-summary::before{
    content: url('../../images/icons/chevron-down.svg');
    position: absolute;
}

#container .content-page .articles-wrapper .article .article-summary strong{
    margin-left: 1rem;
    font-size: 1.2rem;
    color: var(--color-text-on-primay);
    margin-left: 2rem;
}

#container .content-page .pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary-dark);
}

#container .content-page .pagination .command{
    min-height: 3rem;
    padding: 0 1.5rem;
    border-radius: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary-dark);
    text-transform: uppercase;
    transition: background .5s;    
}

#container .content-page .pagination span{
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    color: var(--color-text-on-dark);
    font-size: 1.2rem;
    font-weight: 700;
}

#container .content-page .pagination .command:hover{
    background: var(--color-seconday);
}

@media screen and (min-width: 550px) and (max-width: 799px){
    #container .content-page .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 800px) and (max-width: 1099px){
    #container .content-page .card-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1100px){
    #container .content-page .card-wrapper{
        grid-template-columns: repeat(4, 1fr);
    }
}